@import '../node_modules/react-datepicker/dist/react-datepicker.css';
@import "../node_modules/swiper/swiper";
@import "../node_modules/swiper/modules/navigation";
@import "../node_modules/swiper/modules/pagination";
@import "../node_modules/react-bootstrap-typeahead/css/Typeahead.css";

$primary: #0EC261;
$dark-primary: #0EC26133;
$white: #fff;
$lightGray: #EEEEEE;
$gray: #999999;
$black: #111518;
$media-tablet: 768px;

* {
  box-sizing: border-box;
  --swiper-navigation-sides-offset: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  margin: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}


.swiper-pagination-bullet {
  background: $white;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: $primary;
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  height: 100% ;
  top: 23px;
  background-color: transparent;
  padding: 30px;
  color: $white ;
}

.swiper-button-next:hover {
  background-color: $dark-primary;
}

.swiper-button-next:after {
  font-size: 20px;
}

.swiper-button-prev:hover {
  background-color: $dark-primary;
}

.swiper-button-prev:after {
  font-size: 20px !important;
}

.rbt-menu {
  display: flex !important;
  flex-direction: column;
  background-color: $white;
  border: 1px solid $lightGray;
  padding: 8px;
  z-index: 100;
  gap: 6px;
  overflow: scroll;

  a {
    color: $gray;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }
}

input:disabled {
  background-color: transparent;
}


.react-datepicker__close-icon:after {
  color: $black ;
  border: none ;
  background-color: transparent;
  content: "✖";
}


.react-datepicker {
  display: flex;
  flex-direction: row;
  @media (max-width: $media-tablet) {
    flex-direction: column;
  }
}

.react-datepicker__time-container {
  @media (max-width: $media-tablet) {
    width: 100%;
  }
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  @media (max-width: $media-tablet) {
    right: 2px;
  }
  right: 85px;

}

.react-datepicker__tab-loop {
  position: absolute;
}
