$primary: #0EC261;
$dark-primary: #0EC26133;
$white: #fff;
$lightGray: #EEEEEE;
$gray: #999999;

* {
  box-sizing: border-box;
  --swiper-navigation-sides-offset: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  margin: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

// the swiper library has inline styles so the keyword important is necessary

.swiper-pagination-bullet {
  background: $white !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: $primary !important;
  opacity: 1 !important;
}

.swiper-button-next,
.swiper-button-prev {
  height: 100% !important;
  top: 23px !important;
  background-color: transparent;
  padding: 30px;
  color: $white !important;
}

.swiper-button-next:hover {
  background-color: $dark-primary;
}

.swiper-button-next:after {
  font-size: 20px !important;
}

.swiper-button-prev:hover {
  background-color: $dark-primary;
}

.swiper-button-prev:after {
  font-size: 20px !important;
}

.rbt-menu {
  display: flex !important;
  flex-direction: column;
  background-color: $white;
  border: 1px solid $lightGray;
  padding: 8px;
  z-index: 100;
  gap: 6px;
  overflow: scroll;

  a {
    color: $gray;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }
}

input:disabled {
  background-color: transparent;
}


